//desktop
@media only screen and (min-width: $responsiveSize) {
  .second-container {
    padding-left: 2rem;
    padding-right: 2rem;
    background: #F1F1F1;
    width: 100%;
  }
}
// mobile
@media only screen and (max-width: $responsiveSize) {
  .second-container {
    margin-left: 2rem;
    margin-right: 2rem;
    background: #F1F1F1;
    width: 100%;
    padding: 1rem;
  }
}
